.box{
  height: 200px;
  width: 150px;
  overflow: auto;
  background:rgb(247, 226, 132);
}
.products--grid{
  display: flex;
  flex-direction: column;
  div{
    img{
      width: 100%;
      border-radius: 10px;
    }
    h2, p{
      margin: 0;
    }
  }
}

.message-error{
  background: rgb(63, 1, 1);
  color: white;
  opacity: 0;
  transition: all linear .5s;
  &.invalid{
    opacity: 1;
  }
}

.styles{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

@media screen and (min-width: 40em){
  .products--grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 15px;
  }
}
//Tablets
@media screen and (min-width: 40em) {
  .products--grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}}

//Desktop
@media screen and (min-width: 62em) {
  .products--grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    }
}

div {
  margin: 15px;
  h1 {
      font-family: Arial;
      font-size: 22px;
      font-weight: bold;
  }
  p {
      font-family: Arial;
      font-size: 18px;
      padding-bottom: 10px;
  }
}
